.d1{
    border: 1px solid black;
    width: 800px;
    display: grid;
    aspect-ratio: 1/1;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4,1fr);  
    transform: translate(350px, 10px);
}
.color{
    background-color: black;
    
}
.color:hover{
    box-shadow: 4px 4px 3px 5px gray;
}
.shadow:hover{
    box-shadow: 4px 4px 3px 7px gray;
}