body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    perspective: 1000px;

}

.scene{
    width: 200px;
    height: 200px;
}

.cube{
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 6s linear infinite;

}
.face{
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgba(0,170,255, 0.8);
    border: 2px solid #00ffff;
    display: flex ;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
}
.front {
    transform: rotateY(0deg) translateZ(100px);
}
.back{
    transform: rotateY(180deg) translateZ(100px);
}
.right{
    transform: rotateY(90deg) translateZ(100px);

}
.left{
    transform: rotateY(-90deg) translateZ(100px);
}
.top{
    transform: rotateY(90deg) translateZ(100px);
}
.bottom{
    transform: rotateY(-90deg) translateZ(100px);
}

@keyframes spin{
    from{
        transform: rotateY(0deg) rotateX(0deg);
    }
    to{
        transform: rotateY(350deg) rotateX(360deg);
    }
}