h1{
    color:rgba(2, 88, 45, 0.548); 
    background-color:rgb(216, 206, 63);   
    width: 55%;
 }
 tr th {
    color:aliceblue;
    background-color:rgb(94, 125, 40);
 }
 tr td{
    color:rgb(189, 187, 185);
    background-color:dimgrey
 }